<div class="flex items-center justify-center min-h-screen bg-gradient-to-b from-gray-100 via-white to-gray-200">
  <div class="bg-white text-gray-800 p-8 rounded-2xl shadow-lg w-full max-w-md">
      <!-- QR Code Image -->
      <div class="flex justify-center">
          <img src="{{imageToken}}" alt="QR Code" class="rounded-lg shadow-md" style="width: 100%; height: auto;" />
      </div>
      
      <!-- Title -->
      <h2 class="text-2xl font-bold text-center mt-6">Cadastrar Dupla Autenticação</h2>
      
      <!-- Instructions -->
      <p class="text-sm text-gray-600 text-center mt-4 mb-6">
          Por questões de segurança, a autenticação de dois fatores é obrigatória. Escaneie o QR Code acima com o <span class="font-bold text-gray-800">Google Authenticator</span> para ativar a autenticação.
      </p>
      
      <!-- Button -->
      <div class="flex justify-center">
          <button class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-full shadow-md transition duration-300 ease-in-out">
              Escanear com Google Authenticator
          </button>
      </div>
      
      <!-- Back to Login -->
      <div (click)="logoutUser()" class="block text-center text-blue-500 text-sm mt-6 hover:underline cursor-pointer">
          Ir para login
      </div>
  </div>
</div>
