<div class="flex items-center justify-center min-h-screen  bg-gradient-to-b from-blue-800 to-purple-900">
    <div class="bg-gray-800 text-white p-6 rounded-lg shadow-lg w-1/3">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-semibold">Autenticação Multifatorial</h2>
      
      </div>
      <p class="text-sm text-gray-400 mb-4">DIGITE O CÓDIGO DE VERIFICAÇÃO DO GOOGLE AUTHENTICATOR</p>
      <input type="text" maxlength="6" [(ngModel)]='code' placeholder="Código de verificação de 6 dígitos"
        class="w-full text-center p-2 mb-4 bg-gray-700 text-white rounded border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500">
      <button (click)='isCodeValid()'class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600 transition">Confirmar</button>

    </div>
  </div>
  