<div class="flex flex-col min-h-screen bg-gradient-to-b from-blue-50 via-purple-50 to-blue-100">
    <!-- Header -->
    <div class="flex justify-center items-center py-12 bg-white shadow-md">
        <div class="max-w-6xl w-full text-center">
            <h2 class="text-gray-900 text-4xl font-extrabold">Painel de Administração</h2>
            <h4 class="text-gray-600 text-lg mt-2">Criação de Conta</h4>
        </div>
    </div>

    <!-- Form container -->
    <div class="flex justify-center items-start w-full py-12 px-4 lg:px-8">
        <div class="flex flex-col lg:flex-row w-full max-w-6xl space-y-8 lg:space-y-0 lg:space-x-8">
            <!-- Lado esquerdo -->
            <div class="bg-white p-8 rounded-lg shadow-lg flex-1">
                <h3 class="text-lg font-semibold text-gray-700 mb-6">Informações Pessoais</h3>
                <div class="mb-2"  >
                    Senha do usuário: <div> {{password}}</div>
                </div>
                <div class="mb-6">
                    <label for="nome" class="block text-gray-700 text-sm font-medium">Nome *</label>
                    <input type="text" id="nome" class="mt-2 bg-gray-50 border border-gray-300 text-gray-800 rounded-md w-full py-3 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500 transition" placeholder="Digite seu nome" [(ngModel)]="nome">
                </div>

                <div class="mb-6">
                    <label for="password" class="block text-gray-700 text-sm font-medium">Senha *</label>
                    <input type="password" id="password" class="mt-2 bg-gray-50 border border-gray-300 text-gray-800 rounded-md w-full py-3 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500 transition" placeholder="Digite sua senha" [(ngModel)]="password">
                    <span class="block text-gray-500 text-xs mt-1">No mínimo 16 caracteres, incluindo letra maiúscula, minúscula, número e símbolo (#, %, &#64; ou &)</span>
                </div>

                <div class="mb-6">
                    <label for="passwordConfirm" class="block text-gray-700 text-sm font-medium">Confirmar Senha *</label>
                    <input type="password" id="passwordConfirm" class="mt-2 bg-gray-50 border border-gray-300 text-gray-800 rounded-md w-full py-3 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500 transition" placeholder="Digite sua senha novamente" [(ngModel)]="passwordSecondConfirmation">
                </div>

                <div class="mb-6">
                    <label for="userType" class="block text-gray-700 text-sm font-medium">Tipo do usuário *</label>
                    <select id="userType" [(ngModel)]="userType" class="mt-2 bg-gray-50 border border-gray-300 text-gray-800 rounded-md w-full py-3 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500 transition">
                        <option value="ADMIN">Administrador</option>
                        <option value="COMMON">Comum</option>
                        <option value="MANAGER">Gerente</option>
                    </select>
                </div>


            </div>

            <!-- Lado direito -->
            <div class="bg-white p-8 rounded-lg shadow-lg flex-1">
                <h3 class="text-lg font-semibold text-gray-700 mb-6">Informações de Contato</h3>

                <div class="mb-6">
                    <label for="cpf" class="block text-gray-700 text-sm font-medium">CPF *</label>
                    <input type="text" id="cpf" class="mt-2 bg-gray-50 border border-gray-300 text-gray-800 rounded-md w-full py-3 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500 transition" placeholder="123.456.789-10" [(ngModel)]="cpf" cpfMask>
                </div>

                <div class="mb-6">
                    <label for="email" class="block text-gray-700 text-sm font-medium">E-mail *</label>
                    <input type="email" id="email" class="mt-2 bg-gray-50 border border-gray-300 text-gray-800 rounded-md w-full py-3 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500 transition" placeholder="Digite seu e-mail" [(ngModel)]="email">
                </div>

                <div class="mb-6">
                    <label for="userDocs" class="block text-gray-700 text-sm font-medium">Documentação do usuário *</label>
                    <select id="userDocs" [(ngModel)]="userDocs" class="mt-2 bg-gray-50 border border-gray-300 text-gray-800 rounded-md w-full py-3 px-4 focus:outline-none focus:ring-2 focus:ring-blue-500 transition">
                        <option value="LEGAL_PERSON">Pessoa Jurídica</option>
                        <option value="PHYSICAL_PERSON">Pessoa Física</option>
                    </select>
                </div>

                <div>
                    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-md w-full transition duration-300 ease-in-out" (click)="createAccount()">Criar conta</button>
                </div>
                <div class="mb-6">
                    <button type="button" class="bg-blue-600 mt-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md w-full transition duration-300 ease-in-out" (click)="generatePerson()">Gerar Pessoa</button>
                </div>
            </div>
        </div>
    </div>
</div>
